*{
    margin: 0;
    padding: 0;
    font-family: "poppine", sans-serif;
}

body{
    width:100vw;
    height:100vh;
    position: relative;
    background-color: #010424;
    display: flex;
}
.hero{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    background-color:#010424;
    flex-shrink: 0;
    margin-left:-2%;
    margin-top:-2%;
    margin-bottom:-2%;
    
}
.left-rectangle{
    width:20%;
    height:60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #584476;
    flex-shrink: 0;
    margin-left:10%;
    margin-top: 10%;
    margin-bottom:10% ;

}
.left-rectangle h4{
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    font-size:17px;
    position: absolute;
    flex-direction: row;
    
}


.right-container {
    margin: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.right-aligned-header{
    color: white;
    font-size:30px ;
    margin-left:-12%;
    margin-bottom:2%;
}
.right-aligned-header span{
    color: purple;
    font-size:30px;
    margin-left:-12%;
    margin-bottom:2%;
}
.right-aligned-paragraph{
    color: white;
    font-family: Montserrat;
    font-size:17px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    margin-left:-25%;
    margin-bottom:12%;
}